# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Installer logs
pip-log.txt

# VSCode settings
.vscode/

# PyCharm settings
.idea/

# Environment variables / secrets
.env
*.env

# MyPy and other analysis tools
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# SQLite / local database files
*.sqlite3

# Logs
*.log
